doctype html
html
  head
    title= title

    // Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")

    block styles

    //        Bootstrap core CSS
    link(href='/styles/bootstrap.css', rel='stylesheet')
    link(href='/styles/bootstrap-select.css', rel='stylesheet')
    link(href='/styles/bootstrap-tagsinput.css', rel='stylesheet')
    link(href='/styles/datepicker3.css', rel='stylesheet')
    //        Custom CSS for the 'Heroic Features' Template
    link(href='/styles/heroic-features.css', rel='stylesheet')


  body
    block body

    // The linker searches for this tag and adds js.  If there's no linker, we point to sails.io.js
    // SCRIPTS
    script(src="/min/production.min.js")
    // SCRIPTS END
