extends ../layout
block body
  .jumbotron.hero-spacer
    form(role="form", method="POST", action="/grupos/crear", name="grupo")
      .row
        fieldset
          .col-md-12
            label.control-label(for="nombre") Nombre del grupo:
            input.form-control(type="text", value="", name="nombre", placeholder="nombre")
            label.control-label(for="genero") Genero:
            input.form-control(type="text", value="", name="genero", placeholder="genero")
            label.control-label(for="subgenero") Sub-Genero:
            input.form-control(type="text", value="", name="subgenero", placeholder="subgenero")
            label.control-label(for="tags") Tags (separados por coma):
            input.form-control(type="text", value="", name="tags", placeholder="tags")
            label.control-label(for="twitter") Twitter:
            input.form-control(type="text", value="", name="twitter", placeholder="twitter")
            label.control-label(for="facebook") Facebook:
            input.form-control(type="text", value="", name="facebook", placeholder="facebook")
            label.control-label(for="web") Web:
            input.form-control(type="text", value="", name="web", placeholder="web")
            label.control-label(for="instragram") Instagram:
            input.form-control(type="text", value="", name="instagram", placeholder="instagram")
            label.control-label(for="youtube") Youtube:
            input.form-control(type="text", value="", name="youtube", placeholder="youtube")
            label.control-label(for="soundcloud") Soundcloud:
            input.form-control(type="text", value="", name="soundcloud", placeholder="soundcloud")
            label.control-label(for="municipio") Municipio:
            input.form-control(type="text", value="", name="municipio", placeholder="municipio")
            label.control-label(for="zonaEncuentro") ZonaEncuentro:
            input.form-control(type="text", value="", name="zonaEncuentro", placeholder="zonaEncuentro")
            label.control-label(for="correo") correo:
            input.form-control(type="text", value="", name="correo", placeholder="correo")
            label.control-label(for="comuna") Comuna:
            input.form-control(type="text", value="", name="comuna", placeholder="comuna")
            label.control-label(for="inicio") Inicios(año):
            input.form-control(type="text", value="", name="inicio", placeholder="inicio")


            input.btn.btn-lg.btn-primary.btn-block(type="submit", value="Guardar", name="crear")
