extends ../layout
block body
  .jumbotron.hero-spacer
    form(role="form", method="POST", action="/grupos/crear", name="grupo")
      .row
        fieldset
          .col-md-12
            label.control-label(for="nombre") Nombre del grupo:
            input.form-control(type="text", value="", name="nombre", placeholder="nombre")
            input.btn.btn-lg.btn-primary.btn-block(type="button", value="Save", name="crear")
